/nbproject/private/
# Ignora la carpeta file
app/files
app/cache
app/sunat/codbar.png
app/sunat/codbarcera.png
app/resources/images

app/resources/*.p12
app/resources/*.pfx
app/resources/*.pem
app/resources/*.pem

.env